@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Poppins&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;

}

.wrapper{
    box-shadow: 0px 0px 10px 0px rgba(163, 0, 0, 0.2);
    margin-top: 55px;
}

.container input{
    border: none;
    color: #000;
}

.form h1{
    color: #ff9a9c;
    font-family: 'El Messiri', sans-serif;
}

.form button{
    background-color: #ff9a9c;
    transition: all ease 1s;
}

.form button:hover{
    transform: translateX(10px);
    transition: all ease 1s;
}

.form p{
    font-size: 13px;
    color: #999;
}

.form a{
    color: #ff9a9c;
    text-decoration: none;
}

.container input[type = "text"],
.container input[type = "email"],
.container input[type = "password"]{
     border-bottom: 1px solid #999;
     outline: none;
     padding: 10px;
     font-size: 14px;
}

.container input[type = "email"]:focus{
    border-bottom: 1px solid #ff9a9c;
    color: #000;
}

.container input[type = "password"]:focus{
    border-bottom: 1px solid #ff9a9c;
    color: #000;
}

.container input[type = "text"]:focus{
    border-bottom: 1px solid #ff9a9c;
    color: #000;
}



